
.bot{
   border-radius: 25px;
   border: 1px solid black;
   padding: 10px 20px;
   margin-left: 10px;
}

.bold{
   color: orangered;
}


.bit{
   background-color: orangered;
   color: white;
   border-radius: 10px;
   padding: 10px 25px;
   margin: 0;
}


.box{
   width: 200px;
   height: 200px;
   background-color: #FEFDED;
   margin: 20px;
}

.box-one-two{
   display: flex;
}

.texter{
    width: 150px;
    height: 50px;
    margin: 10px;
    
}

.tex{
    color: orangered;
}

.bam{
    color: black;
    padding-left: 30px;
    background-color: orangered;
}

.boo{
   background-color: white;
   color: orange;
   border-radius: 10px;
   padding: 10px 25px;
   margin: 20px;

}

.imaginary{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    row-gap: 10px;
    justify-content: space-between;
    margin-right: 100px;
    box-sizing: border-box;
}

.upper{
    margin-left: 40px;
    
}

.ground{
    background-color: orangered;
}

.all{
    margin-left: 40px;
}
